<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img src="assets/Frame.png" alt="Логотип сайта" />
    </div>
    <nav class="header-nav">
      <div class="header-nav-item"><a href="#">Главная </a></div>
      <div class="header-nav-item"><a href="#">О компании </a></div>
      <div class="header-nav-item"><a href="#">Каталог </a></div>
    </nav>
  </div>
  <div class="header-right">
    <img
      class="header-nav-item-right"
      src="assets/Phone.png"
      alt="номер телефона"
    />
    <div class="header-nav-item-right">
      <a href="tel:+7 (965) 084-29-29">+7 (965) 084-29-29</a>
    </div>
    <img
      class="header-nav-item-right"
      src="assets/Vector.svg"
      alt="картинка сердечко"
    />

    <button class="header-nav-item-right">
      <img
        class="button-icon"
        src="assets/Buying.png "
        alt="картинка корзина"
      />Пусто
    </button>
  </div>
</div>

<div class="header-yellow">
  <div class="header-left">
    <div class="header-menu">
      <img src="assets/light.svg" alt="меню" />
    </div>
    <div class="header-nav">
      <div class="header-nav-item">Каталог</div>
      <div class="header-nav-item">Стройматериалы</div>
      <div class="header-nav-item">Инструменты</div>
      <div class="header-nav-item">Электрика</div>
      <div class="header-nav-item">Интерьер и одежда</div>
    </div>
  </div>

  <div class="header-yellow-right">
    <div class="input-with-icon">
      <input
        type="text"
        placeholder="Поиск, например Круг зачистной"
        class="underline-input"
      />
      <img class="input-icon" src="assets/Search.svg" alt="картинка поиск" />
    </div>
    <img
      class="header-nav-item-right moskow"
      src="assets/moskow.svg"
      alt="картинка метка"
    />
    <span class="moskow">Москва</span>
  </div>
</div>
