<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img src="assets/Frame.png" alt="Логотип сайта">
    </div>
    <nav class="header-nav">
    <span class="header-nav-item"> <a href="#">Главная </a></span>
    <span class="header-nav-item"> <a href="#">О компании </a> </span>
    <span class="header-nav-item"><a href="#">Каталог </a> </span>
    </nav>
  </div>
  <div class="header-right">
    <img class="header-nav-item-right" src="assets/Phone.png" alt="номер телефона">
    <div class="header-nav-item-right"> <a href="tel:+7 (965) 084-29-29">+7 (965) 084-29-29</a></div>
    <img class="header-nav-item-right" src="assets/Vector.svg" alt="картинка сердечко">

    <button class="header-nav-item-right">
<img class="button-icon" src="assets/Buying.png " alt="картинка корзина">
Пусто
    </button>
  </div>
</div>

<div class="header-yellow">
  <div class="header-left">
    <div class="header-menu">
      <img src="assets/light.svg" alt="меню">
    </div>
    <nav class="header-nav">
    <span class="header-nav-item"><a class="yellow-item" href="#">Каталог</a></span>
    <span class="header-nav-item"><a class="yellow-item" href="#">Стройматериалы</a></span>
    <span class="header-nav-item"><a class="yellow-item" href="#">Инструменты</a></span>
    <span class="header-nav-item"><a class="yellow-item" href="#">Электрика</a></span>
    <span class="header-nav-item"><a class="yellow-item" href="#">Интерьер и одежда</a></span>
    </nav>
  </div>

  <div class="header-yellow-right">
    <div class="input-with-icon">
    <input type="text" placeholder="Поиск, например Круг зачистной" class="underline-input">
    <img class="input-icon"  src="assets/Search.svg" alt="картинка поиск">
</div>
    <img class="header-nav-item-right moskow" src="assets/moskow.svg" alt="картинка метка">
<span class="moskow">Москва</span>
  </div>
