.header {
  height: 80px;
  background-color: #4b565e;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 0 240px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-nav-item {
  margin-right: 20px;
}

.header-logo {
  margin-right: 20px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-item-right {
  margin-right: 20px;
  font-size: 16px;
}

button.header-nav-item-right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 40px;
  background-color: #4b565e;
  color: white;
  border: 2px solid #f0ba4e;
  font-size: 16px;
}

.button-icon {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

.header-yellow {
  height: 48px;
  background-color: #f0ba4e;
  display: flex;
  align-items: center;
  color: black;
  justify-content: space-between;
  padding: 0 240px;
  font-size: 14px;
}

.header-menu {
  margin-right: 20px;
}

.header-yellow-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-with-icon {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  width: 300px;
  margin: 20px;
}

.input-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.underline-input {
  border: none;
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  background-color: #f0ba4e;
}

.moskow {
  margin: 2px;
}

